* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(240, 228, 207);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(9, 91, 243); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(38, 10, 163); 
  }

body {
    max-width: 1200px;
    box-shadow: 0px 0px 8px #666;
    padding: 10px;
    margin-top: 20px !important; 
    margin: 0 auto;
    background-color: rgb(252, 247, 247);
    font-family: 'Noto Sans', sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#title {
    text-align: center;
    border-bottom: 1px solid rgba(148, 136, 136, 0.623);
    padding-bottom: 10px;
    max-width: 800px;
    margin: 0 auto;
}

#title h1 {
    font-size: 3em;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: rgb(1, 253, 253);
}

#title p {
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

#text {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}

#text h2 {
    font-size: 2em;
    padding: 10px;
}

#text p {
    font-size: 0.95em;
    font-family: 'Ubuntu', sans-serif;
}

#text h3 {
    margin-top: 20px;
}

.text_flex {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.text_flex_2 {
    margin-top: 10px;
}

#art2 h3 {
    margin-top: 70px;
}

.text_flex a {
    text-decoration: none;
    color: black;
}

.text_flex a:hover {
    color: rgba(24, 24, 255, 0.637);
    transition: 0.4s;
}

#art1 {
    border-right: 1px solid rgba(148, 136, 136, 0.623);
    padding-right: 140px;
}

.para {
    margin-top: 10px;
}

#about {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

#about h2 {
    font-size: 2.1em;
}

#img_flex img {
    height: 400px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

#img_flex2 img {
    height: 400px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

#img_flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#img_flex2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#img_flex h3 {
    font-size: 1.3em;
}

#img_flex2 h3 {
    font-size: 1.3em;
}

#img_flex2 p {
    font-size: 1.3em;
    margin-top: 10px;
}

#img_flex p {
    font-size: 1.3em;
    margin-top: 10px;
}

#outras {
    margin-top: 30px;
}

#outras p#paragra {
    margin-top: 35px !important;
    font-size: 1.2em;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(148, 136, 136, 0.623);
    margin: 0 auto;
    max-width: 400px;
}

#outras h4 {
    margin-top: 30px;
    font-size: 1em;
}

#ling {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(148, 136, 136, 0.623);
    padding-bottom: 25px;
}

#ling article {
    margin-top: 20px;
}

#article1 {
    border-right: 1px solid rgba(148, 136, 136, 0.623);
    padding-right: 40px;
}

#gitpara {
    margin-top: 20px !important;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(148, 136, 136, 0.623);
    margin: 0 auto;
    max-width: 400px;
}

#linuxpara {
    margin-top: 20px !important;
}

.progress-bar{
    height: 22px;
    padding: 5px;
    width: 70%;
    margin-top: 10px !important;
    margin: 0 auto;
    background-color: #ccc;
    display: flex;
}

.progress-bar::before{
    content: "100%";
    width: 100%;
    background-color: red;
}

.axd::before {
    content: "90%";
    width: 90%;
    background-color: red;
}

.js::before {
    content: "20%";
    width: 20%;
    background-color: red;
}

.cs::before {
    content: "80%";
    width: 80%;
    background-color: rgb(7, 94, 165);
}

.sql::before {
    content: "10%";
    width: 15%;
    background-color: rgb(7, 94, 165);
}

#proj {
    text-align: center;
    margin-top: 20px !important;
    padding: 10px;
}

#proj h2 {
    font-size: 2.5em;
}

#proj h3 {
    margin-top: 20px;
}

ol {
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.role_img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.role_img img {
    height: 330px;
    width: 550px;
}

.proj_txt {
    margin-top: 20px;
}

#responsive_p {
    display: none;
}



@media (max-width: 240px){
    body {
        width: 100%;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    #text {
        display: flex;
        flex-direction: column;
    }

    #art1 {
        border: none;
        padding-right: 0;
    }

    #responsive_div {
        display: none;
    }

    #responsive_p {
        display: block;
    }

    #img_flex {
        display: flex;
        flex-direction: column;
    }

    #img_flex img {
        height: 150px;
    }

    #img_flex2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #img_flex2 img {
        height: 150px;
    }

    .role_img {
        display: none;
    }

    ol {
        font-size: 1.2em;
    }

    .text_flex_2 {
        display: flex;
        flex-direction: column;
    }

    .text_flex_2 p {
        padding: 10px;
    }

    #proj {
        max-width: 260px;
    }

    #proj h2 {
        font-size: 2em;
    }

    #about h2 {
        font-size: 2em;
    }

    .art-txt {
        max-width: 260px;
        margin: 0 auto;
    }

    #title {
        max-width: 260px;
    }

    #title h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 290px){
    body {
        width: 100%;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    #text {
        display: flex;
        flex-direction: column;
    }

    #art1 {
        border: none;
        padding-right: 0;
    }

    #responsive_div {
        display: none;
    }

    #responsive_p {
        display: block;
    }

    #img_flex {
        display: flex;
        flex-direction: column;
    }

    #img_flex img {
        height: 150px;
    }

    #img_flex2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #img_flex2 img {
        height: 150px;
    }

    .role_img {
        display: none;
    }

    ol {
        font-size: 1.2em;
    }

    .text_flex_2 {
        display: flex;
        flex-direction: column;
    }

    .text_flex_2 p {
        padding: 10px;
    }

    #proj {
        max-width: 260px;
    }

    #proj h2 {
        font-size: 2em;
    }

    #about h2 {
        font-size: 2em;
    }

    .art-txt {
        max-width: 260px;
        margin: 0 auto;
    }

    #title {
        max-width: 260px;
    }

    #title h1 {
        font-size: 2.2em;
    }
}


@media (max-width: 390px){
    body {
        width: 100%;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    #text {
        display: flex;
        flex-direction: column;
    }

    #art1 {
        border: none;
        padding-right: 0;
    }

    #responsive_div {
        display: none;
    }

    #responsive_p {
        display: block;
    }

    #img_flex {
        display: flex;
        flex-direction: column;
    }

    #img_flex img {
        height: 150px;
    }

    #img_flex2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #img_flex2 img {
        height: 150px;
    }

    .role_img {
        display: none;
    }

    ol {
        font-size: 1.2em;
    }

    .text_flex_2 {
        display: flex;
        flex-direction: column;
    }

    .text_flex_2 p {
        padding: 10px;
    }

    #proj {
        max-width: 260px;
        margin: 0 auto;
    }

    #proj h2 {
        font-size: 2em;
    }

    #about h2 {
        font-size: 2em;
    }

    .art-txt {
        max-width: 260px;
        margin: 0 auto;
    }

    #title {
        max-width: 260px;
    }

    #title h1 {
        font-size: 2.2em;
    }
}


@media (max-width: 400px){
    body {
        width: 100%;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    #text {
        display: flex;
        flex-direction: column;
    }

    #art1 {
        border: none;
        padding-right: 0;
    }

    #responsive_div {
        display: none;
    }

    #responsive_p {
        display: block;
    }

    #img_flex {
        display: flex;
        flex-direction: column;
    }

    #img_flex img {
        height: 150px;
    }

    #img_flex2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #img_flex2 img {
        height: 150px;
    }

    .role_img {
        display: none;
    }

    ol {
        font-size: 1.2em;
    }

    .text_flex_2 {
        display: flex;
        flex-direction: column;
    }

    .text_flex_2 p {
        padding: 10px;
    }

    #proj {
        max-width: 330px;
        margin: 0 auto;
    }

    #proj h2 {
        font-size: 2em;
    }

    #about h2 {
        font-size: 2em;
    }

    .art-txt {
        max-width: 330px;
        margin: 0 auto;
    }

    #title {
        max-width: 350px;
    }

    #title h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 450px){
    body {
        width: 100%;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    #text {
        display: flex;
        flex-direction: column;
    }

    #art1 {
        border: none;
        padding-right: 0;
    }

    #responsive_div {
        display: none;
    }

    #responsive_p {
        display: block;
    }

    #img_flex {
        display: flex;
        flex-direction: column;
    }

    #img_flex img {
        height: 150px;
    }

    #img_flex2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #img_flex2 img {
        height: 150px;
    }

    .role_img {
        display: none;
    }

    ol {
        font-size: 1.2em;
    }

    .text_flex_2 {
        display: flex;
        flex-direction: column;
    }

    .text_flex_2 p {
        padding: 10px;
    }

    #proj {
        max-width: 330px;
        margin: 0 auto;
    }

    #proj h2 {
        font-size: 2em;
    }

    #about h2 {
        font-size: 2em;
    }

    .art-txt {
        max-width: 330px;
        margin: 0 auto;
    }

    #title {
        max-width: 350px;
    }

    #title h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 540px){
    body {
        width: 100%;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    #text {
        display: flex;
        flex-direction: column;
    }

    #art1 {
        border: none;
        padding-right: 0;
    }

    #responsive_div {
        display: none;
    }

    #responsive_p {
        display: block;
    }

    #img_flex {
        display: flex;
        flex-direction: column;
    }

    #img_flex img {
        height: 150px;
    }

    #img_flex2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #img_flex2 img {
        height: 150px;
    }

    .role_img {
        display: none;
    }

    ol {
        font-size: 1.2em;
    }

    .text_flex_2 {
        display: flex;
        flex-direction: column;
    }

    .text_flex_2 p {
        padding: 10px;
    }

    #proj {
        max-width: 330px;
        margin: 0 auto;
    }

    #proj h2 {
        font-size: 2em;
    }

    #about h2 {
        font-size: 2em;
    }

    .art-txt {
        max-width: 330px;
        margin: 0 auto;
    }

    #title {
        max-width: 350px;
    }

    #title h1 {
        font-size: 2.2em;
    }
}